<header>
    <a href="{{ site.baseurl }}/">
        <img src="assets/img/logo.svg" alt="Site logo">
    </a>
    {%- include navigation.html -%}  <!-- para desktop -->
    <form action="#">  <!-- search -->
        <input title="Search" type="text" placeholder="Search">
        <button>
            <!-- svg - icon de search -->
        </button>
    </form>
    <button>  <!-- profile button -->
        <img src="assets/img/profile-image.png" alt="">  <!-- mudar src por JS -->
    </button>
    <div>  <!-- profile menu -->

        {% for profile in site.data.user.profile01 %}
            <img src="assets/img/{{ profile.image }}" alt="User profile image">
            <h3>{{ profile.name }}</h3>
        {% endfor %}
        
        {%- include navigation.html -%}  <!-- para mobile -->
        
        {%- include btn_nav.html -%}
    </div>
    {%- include btn_nav.html -%}
</header>