<header>
    <!-- LOGO -->
    <div class="wrapper_nav">
        <a href="{{ site.baseurl }}/">
            {%- include logo.html -%}
        </a>
        {%- include navigation.html -%}
    </div>

    <!-- RIGHT SIDE -->
    <div class="wrapper_actions">

        <!-- SEARCH -->
        <lable class="lable" action="#">
            <input title="Search" type="text" placeholder="Search" class="search">
                <a role="button">
                    {% include search_icon.html %}
                </a>
        </lable>

        <!-- PROFILE AND MENU -->
        <a role="button" class="profile" onclick="action()">
            {% for profile in site.data.user.profile %}
                <img src="assets/img/{{ profile.image }}" alt="" class="profile-img"> <!-- mudar src por JS -->
            {% endfor %}
        </a>

        <!-- BTN WRITING -->
        {%- include btn_create.html -%}
    </div>

    <!-- DROPDOWN MENUN-->
    <div class="profile_menu">
        {% for profile in site.data.user.profile %}
            <img src="assets/img/{{ profile.image }}" alt="User profile image">
            <h3>{{ profile.name }}</h3>
        {% endfor %}
        <!--Profile, Settings, Collection-->
        {%- include navigation.html -%}
        {%- include btn_create.html -%}
    </div>

</header>