<header>
    <!-- LOGO -->
    <div class="wrapper_nav">
        <a href="{{ site.baseurl }}/">
            {%- include logo.html -%}
        </a>
        {%- include navigation.html -%}
    </div>

    <!-- RIGHT SIDE -->
    <div class="wrapper_actions">

        <!-- SEARCH -->
        <lable class="lable" action="#">
            <input title="Search" type="text" placeholder="Search" class="search">
                <a role="button">
                    {% include search_icon.html %}
                </a>
        </lable>

        <!-- PROFILE AND MENU -->
        <a role="button" class="profile" onclick="action()">
            {%- include user.html -%}
        </a>

        <!-- BTN WRITING -->
        {%- include buttons/btn_create.html -%}
    </div>

    <!-- DROPDOWN MENUN-->
    <div class="profile_menu">
        {%- include user.html -%}
        <h3><a href="#">Sign Up</a> | <a href="#">Log In</a></h3>
        <!--Profile, Settings, Collection-->
        {%- include navigation.html -%}
        {%- include buttons/btn_create.html -%}
    </div>

</header>