.breaker {
    position: relative;
    padding-top: $s;
    margin-bottom: $xs;
    color: $accent;
    &::after {
        position: absolute;
        content: "";
        height: 0.125rem;
        background: $accent;
        bottom: 0.25rem;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
}

@media screen and (min-width: $desktop) {
    .breaker {
        padding: 0 0 $s 0;
        -ms-grid-column-span: 6;
        grid-column: span 6;
        &::after {
            bottom: 1.25rem;
        }
    }
}
