.follow_btn {
    padding: 4px 24px;
    border: 2px solid $dark;
    color: $dark;
    border-radius: 30px;
    &:hover {
        border: 2px solid $accent;
        color: $accent;
    }
}

.subscribe-btn {
    padding: calc(#{$xs} / 2) $s;
    margin-top: $xs;
    border: 2px solid $dark;
    color: $dark;
    border-radius: $xl;
    &:hover {
        border: 2px solid $accent;
        color: $accent;
    }

}

.catg_article {
    color: $dark;
    background: $accent-75;
    border-radius: $xl;
    padding: $xs $s;
    margin: 0 $xs $xs 0;
    &:hover {
        background: $accent;
    }
}