.follow_btn {
    padding: calc(#{$xs} / 2) calc(#{$l} / 2);
    border: 0.125rem solid $dark;
    color: $dark;
    border-radius: $xl;
    &:hover {
        border: 0.125rem solid $accent;
        color: $accent;
    }
}

.subscribe-btn {
    padding: calc(#{$xs} / 2) $s;
    margin-top: $xs;
    border: 0.125rem solid $dark;
    color: $dark;
    border-radius: $xl;
    &:hover {
        border: 0.125rem solid $accent;
        color: $accent;
    }

}

.catg_article {
    color: $dark;
    border: 0.125rem solid $accent-75;
    border-radius: $xl;
    padding: $xs $s;
    margin: 0 $xs $xs 0;
    &:hover {
        background: $accent;
    }
}