.follow-btn {
    padding: calc(#{$xs} / 2) calc(#{$l} / 2);
    @include btn-border-dark;
    &:hover {
        @include btn-hover;
    }
}

.subscribe-btn {
    padding: calc(#{$xs} / 2) $s;
    margin-top: $xs;
    background: none;
    @include btn-border-dark;
    &:hover {
        @include btn-hover;
    }

}

.catg-article {
    @include btn-border-accent;
    padding: $xs $s;
    margin: 0 $xs $xs 0;
    &:hover {
        @include btn-hover;
    }
}