.card {
    margin-bottom: $l;
    div {
        width: 100%;
        height: calc(4 * #{$l});
        @include border-radius;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: $s;
    }
    &.card_category {
        margin-bottom: $s;
        div {
            height: calc(2 * #{$l});
        }
    }
}

.home,
.hg-profile {
    padding-bottom: $s;
    background: #fff;
    @include border-radius;
    @include card-shadow;
    div {
        border-radius: $xs $xs 0 0;
        & ~ * {
            padding: 0 $s;
        }
    }
    .description {
        display: none;
    }
}

.highlight,
.related .regular {
    margin-bottom: $m;
    position: relative;
    a {
        display: grid;
        -ms-grid-columns: 1fr $s 1fr $s 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $s;
        grid-template-areas:
            "img writer writer"
            "img title title"
            "img title title";
        div {
            grid-area: img;
            height: $xxl;
        }
        p {
            grid-area: writer;
        }
        h3 {
            grid-area: title;
        }
    }
}

.highlight {
    &::before {
        position: absolute;
        content: "";
        height: 0.0625rem;
        background: $middle;
        bottom: -$s;
        left: 0;
        right: 0;
    }
    &:last-child::before {
        display: none;
    }
}

.card_category {
    a {
        display: block;
        position: relative;
        .img_category {
            mix-blend-mode: multiply;
        }
        h3 {
            position: absolute;
            bottom: $s;
            left: $s;
            color: white;
        }
    }
}

.effect {
    @include absolute;
    background-image: $gradient;
}

@media screen and (min-width: $desktop) {
    .home,
    .hg-profile {
        .description {
            display: block;
            padding-top: $s;
        }
    }
    
    .hg-profile {
        div {
            height: auto;
        }
        .description {
            margin-bottom: $s;
        }
    }
}
