footer {
    background: $accent-10;
    
    section {
        padding-bottom: $m;

        h2 {
            padding-bottom: $s;
        }

        &:first-child {
            padding-top: $l;
        }

        &:nth-child(3) { /* Não seleciona com last-child*/
            padding-bottom: $l;
        }

        p a {
            white-space: nowrap;
            color: $accent;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        a {
            flex-basis: auto;
            padding: calc(#{$xs} / 2) $s;
            margin-top: $xs;
            border: 1px solid $dark;
            border-radius: $xl;
        }
    }

    input {
        width: 100%;
        background: none;
        border: 1px solid $dark;
        border-radius: $xs;
        margin-bottom: $xs;
        padding-left: $xs;
    }
}

.wrapper-footer {
    max-width: 900px;
    margin: 0 auto;
}

.active {
    background: red;
}

@media screen and (min-width: 800px){
    .wrapper-footer {
        padding: $xl 0 $l 0;
        section {
            grid-column: span 2;
            &:first-child {
                padding-top: 0;
            }
        }
    }
}

