header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $xl;
    z-index: $posit-1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $light-85;
    @include header;

    a {
        padding: 0 $s;
    }
}

.menu-mobile {
    position: absolute;
    height: calc(100vh - #{$xl});
    top: $xl;
    right: 0;
    left: 0;
    padding: $s;

    background: $light;

    transform: translateY(calc(-100% - #{$xl}));
    transition: transform 0.4s ease-in-out;
    z-index: $negat-1;
}

.menu-active {
    transform: translateY(0%);
}

nav {
    position: relative;
    ul {
        padding: 0;

        li {
            padding: $xs;
        }
    }

    a {
        @include h4;
    }

    &::after {
        position: absolute;
        content: "";
        height: 1px;
        background: $middle;
        bottom: -$s;
        left: 0;
        right: 0;
    }
}

.search-box {
    display: flex;
    justify-content: space-between;

    padding-top: $m;

    input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid $middle;

        &:focus {
            border-bottom: 2px solid $dark;
        }

        &::placeholder {
            color: $middle;
        }
    }

    button {
        background: none;
        border: none;
    }
}
/*
@media screen and (min-width: 800px) {
    .profile {
        display: none;
    }
    .menu-mobile {
        position: relative;
        display: flex;
        height: initial;
        top: initial;
        right: initial;
        left: initial;

        background: none;

        transform: none;
    }



    nav {
        position: relative; // ------ mudar --------
    }
    &::after {
        display: none; // o "content: none" não funciona
    }



    .search-box {
        display: flex;
        justify-content: space-between;

        background: red;
    
        padding-top: $m;
    
        input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid $middle;
    
            &:focus {
                border-bottom: 2px solid $dark;
            }
    
            &::placeholder {
                color: $middle;
            }
        }
    
        button {
            background: none;
            border: none;
        }
    }
}
*/