header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $xl;
    z-index: $posit-1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $light-85;
    @include header;

    a {
        padding: 0 $s;
        .logo_light {
            animation-name: coloring;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        @keyframes coloring {
            0%   {fill: $dark;}
            20%  {fill: $accent;}
            80%  {fill: $accent;}
            100% {fill: $dark;}
          }
    }
}

.search-box {
    display: flex;
    justify-content: flex-end;
    input {
        background: none;
        border: none;
        border-bottom: 1px solid $middle;
        margin-right: $xs;

        &:focus {
            border-bottom: 2px solid $dark;
        }
    }

    button {
        background: none;
        border: none;
    }
}

@media screen and (min-width: 800px){
    .profile {
        display: none;
    }

    .menu-mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: $m;
        ul {
            display: flex;
        }
    }
    
    .search-input {
        width: 0;
        transition: width 0.3s;
    }
    .search-box:hover .search-input,
    .search-input:focus {
        width: 40vw;
    }

}

@media screen and (max-width: 800px) { 
    //apesar de ser mobile first fiz assim para não acrescentar  
    //demasiadas linhas de código ao "limpar" o menu.
    .menu-mobile {
        position: absolute;
        height: calc(100vh - #{$xl});
        top: $xl;
        right: 0;
        left: 0;
        padding: $s;
    
        background: $light;
    
        transform: translateY(calc(-100% - #{$xl}));
        transition: transform 0.4s ease-in-out;
        z-index: $negat-1;
    }
    
    .menu-active {
        transform: translateY(0%);
    }
    
    nav {
        position: relative;
        ul {
            padding: 0;
    
            li {
                padding: $xs;
            }
        }
    
        a {
            @include h4;
        }
    
        &::after {
            position: absolute;
            content: "";
            height: 1px;
            background: $middle;
            bottom: -$s;
            left: 0;
            right: 0;
        }
    }
    .search-box {
        padding-top: $m;
        input {
            width: 100%;
        }
    }
}