---
layout: default
---
<div class="wrapper-homepage">
  {{ content }}
</div>

<section class="wrapper-highlight">
  <h2 class="breaker">Highlights</h2>
  {%- assign counter = 0 -%}
  {%- for article in site.posts -%}
    {%- if article.highlight == true -%}
      {%- assign counter = counter | plus: 1 -%}
      {%- if counter <= 1 -%}
        {%- include card-highlight.html type="home" -%}
      {%- elsif counter <= 4 -%}
        {%- include card-article.html type="highlight" -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</section>

<section class="wrapper-latest">
  <h2 class="breaker">Latest</h2>
  {%- assign counter = 0 -%}
  {%- for article in site.posts -%}
    {%- if article.highlight != true -%}
      {%- assign counter = counter | plus: 1 -%}
      {%- if counter <= 6 -%}
        {%- include card-article.html type="regular" -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</section>

<section class="wrapper-all-categories">
  <h2 class="breaker">Categories</h2>
  {%- include cards-categories.html -%}
</section>