---
layout: default
---
<article>
  <section>
    <img src="assets/img/{{ page.author | downcase | remove: " "  }}/{{ page.img_header }}" alt="Image from {{ page.title }}">
    <h4>{{ page.author }}</h4>
  </section>
  <section>
    <h2>{{ page.title }}</h2>

    {{ content }}

    {%- for catg in page.categories -%}
    <a href="#">{{ catg }}</a>
    {%- endfor -%}
  </section>
  <aside>
    {%- for writer in site.profiles -%}
    {% if writer.title == page.author %}
    <h2>More from <a href="{{ site.baseurl }}{{ writer.url }}">{{ page.author }}</a></h2>
    {% endif %}
    {%- endfor -%}

    {%- for related in site.posts -%}
    {% if related.title != page.title and related.author == page.author %}
    <h3><a href="{{ site.baseurl }}/{{ related.url }}">{{ related.title }}</a></h3>
    {% endif %}
    {%- endfor -%}
  </aside>
</article>