---
layout: default
---
<article>

  <img src="assets/img/{{ page.author | downcase | remove: ' ' }}/{{ page.img_header }}" alt="Image from {{ page.title }}">
  <div class="wrapper_author">
    {%- for writer in site.profiles -%}
      {%- if writer.author == page.author -%}
        <img src="assets/img/{{ writer.author | downcase | remove: ' ' }}/{{ writer.image }}" alt="{{ page.author }}'s image">
        <h4><a href="{{ site.baseurl }}{{ writer.url }}" title="Author {{ page.author }}'s page">{{ page.author }}</a></h4>
        <h5>{{ page.date | date: "%b %Y" }}</h5>
        {%- include buttons/btn_follow.html -%}
      {%- endif -%}
    {%- endfor -%}
  </div>

  <section>
    <h2>{{ page.title }}</h2>

    {{ content }}

    <aside>
      {%- for catg in page.categories -%}
        {%- for category in site.categories -%}
          {%- if catg == category.title -%}
            <a href="{{ site.baseurl }}{{ category.url }}" class="catg_article" title="Category {{ catg }}">{{ catg }}</a>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
      {%- include origin.html -%}
    </aside>
  </section>

  <aside>
    {%- for writer in site.profiles -%}
      {%- if writer.author == page.author -%}
        <h2>More from <a href="{{ site.baseurl }}{{ writer.url }}" title="Author {{ page.author }}'s page">{{ page.author }}</a></h2>
      {%- endif -%}
    {%- endfor -%}

    {%- for article in site.posts -%}
      {%- if article.title != page.title and article.author == page.author -%}
        {%- include card_article.html type="regular" -%}
      {%- endif -%}
    {%- endfor -%}
  </aside>

</article>