---
layout: default
---
<h1>{{ page.title }}</h1>
<h5>{{ page.date | date: "%b %Y" }}</h5>

{{ content }}

{% assign author = page.title %}

<section>
    {%- for article in site.posts -%}
        {%- if article.author == author -%}
        {% assign highlight = article.title %}
            {%- include card_highlight.html type="profile" -%}
        {%- break -%}
        {%- endif -%}
    {%- endfor -%}
</section>

<section>
    {%- for article in site.posts -%}
        {%- if article.author == author and article.title != highlight -%}
            {%- include card_article.html type="regular" -%}
        {%- endif -%}
    {%- endfor -%}
</section>

<aside>
    <h1>Related</h1>
    {% for article in site.related_posts limit:6 %}
        {% if article.author != author %}
            {%- include card_article.html type="regular" -%}
        {% endif %}
    {% endfor %}
</aside>