---
layout: default
---
<h1>{{ page.author }}</h1>
<p>{{ page.date | date: "%b %Y" }}</p>

{{ content }}

<section>
    <h2>Latest</h2>
    {% assign author = page.author %}

    {%- for article in site.posts -%}
        {%- if article.author == author -%}
        {% assign highlight = article.title %}
            {%- include card_highlight.html type="profile" -%}
        {%- break -%}
        {%- endif -%}
    {%- endfor -%}

    {%- for article in site.posts -%}
        {%- if article.author == author and article.title != highlight -%}
            {%- include card_article.html type="regular" -%}
        {%- endif -%}
    {%- endfor -%}
</section>

<aside>
    <h2>Related</h2>
    {% for article in site.related_posts limit:6 %}
        {% if article.author != author %}
            {%- include card_article.html type="regular" -%}
        {% endif %}
    {% endfor %}
</aside>