.wrapper-header {
    width: 100%;
    height: 40vh;
    position: relative;
    margin-bottom: $xl;
    border-radius: $xl;
    div {
        border-radius: $s;
    }
    .category-header {
        @include full-position;
        mix-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    h1 {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        text-align: center;
    }
    & + h2 {
        padding-bottom: $s;
    }
}

@media screen and (min-width: $desktop) {
    .wrapper-categories {
        .regular {
            -ms-grid-column-span: 2;
            grid-column: span 2;
        }
    }
}
