.wrapper-latest {
    position: relative;
}

@media screen and (min-width: $desktop) {
    .wrapper-highlight {
        .home {
            //não sei se mais vale trocar a ordem para usar extend ou deixar assim
            -ms-grid-column-span: 3;
            grid-column: span 3;
            -ms-grid-row-span: 3;
            grid-row: span 3;
        }
        .highlight {
            -ms-grid-column-span: 3;
            grid-column: span 3;
        }
    }

    .wrapper-latest {
        .regular {
            -ms-grid-column-span: 2;
            grid-column: span 2;
        }
    }

    .card-category {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    .wrapper-homepage {
        padding: $m 0 $xl;
    }
}
