.wrapper-latest {
    position: relative;
    //padding: $m 0;
    // .bg {
    //     position: absolute;
    //     top: 0;
    //     right: - $s;
    //     bottom: 0;
    //     left: - $s;
    //     background: $dark;
    //     z-index: $negat-1;
    // }
}

@media screen and (min-width: 800px){
    .wrapper-highlight {
        .home {
            grid-column: span 3;
            grid-row: span 3;
        }
        .highlight {
            grid-column: span 3;
        }
    }
    .wrapper-latest {
        .regular {
            grid-column: span 2;
        }
    }
    .card_category {
        grid-column: span 2;
    }
    .wrapper-homepage {
        padding: $m 0 $xl;
    }
}