.post-img {
    width: 100%;
    max-height: 40vh;
    margin-bottom: $l;
    -o-object-fit: cover;
    object-fit: cover;
    @include card-shadow;
}

.wrapper_author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: $l 0 $m 0;
    img {
        width: $l;
        height: $l;
        border-radius: 50%;
        margin-right: $s;
    }
    .author-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
}

.wrapper-post {
    h2 {
        margin: $l 0;
    }
    img {
        width: 100%;
        @include border-radius;
        margin-top: $l;
    }
    .caption {
        margin: $xs 0 $l 0;
    }
    hr {
        margin: $m 0;
        border: 0.125rem solid $middle;
    }
    blockquote {
        margin: $xl 0 $xl $s;
        border-left: 0.25rem solid $accent;
        padding-left: $s;
    }
    ul {
        padding: calc(#{$m} - #{$s}) 0 $m $s;
        li {
            padding-top: $s;
        }
    }
    p a {
        @include link-hover;
    }
}

.origin a {
    color: $accent;
}

.post-aside {
    margin: $xl 0 $m 0;
    padding-bottom: $s;
    border-bottom: 0.125rem solid $accent;
    .wrapper-catg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: $s;
    }
}

.more-post {
    h2 {
        margin-bottom: $s;
        a {
            color: $accent;
        }
    }
}

@media screen and (min-width: $desktop) {
    .post-img {
        border-radius: $s;
    }

    .wrapper-main-post {
        h1,
        .wrapper_author,
        .wrapper-post,
        .post-aside {
            -ms-grid-column: 2;
            -ms-grid-column-span: 4;
            grid-column: 2 / 6;
        }
        blockquote {
            margin: $xl 0 $xl $l;
        }
        ul {
            padding: calc(#{$m} - #{$s}) 0 $m $m;
        }
    }

    .more-post {
        h2 {
            -ms-grid-column: 2;
            -ms-grid-column-span: 4;
            grid-column: 2 / 6;
        }
        .regular {
            &:nth-child(even) {
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
                grid-column: 2 / span 2;
            }
            &:nth-child(odd) {
                -ms-grid-column: 4;
                -ms-grid-column-span: 2;
                grid-column: 4 / span 2;
            }
        }
    }
}
