// :root {
//     font-size: 1em;
// }

// h4 {
//     background: $accent-10;
//     font-size: 2rem;
// }





body {
    margin: 0;
    & * {
        margin: 0;
        padding: 0;
        color: $dark;
    }
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}

main {
    margin: calc(#{$xl} + #{$m}) auto 0;
    padding: 0 $s $l;
}

footer {
    padding: 0 $s;
}

@media screen and (min-width: 800px){
    .wrapper-highlight,
    .wrapper-latest,
    .wrapper-all-categories ul,
    .wrapper-main-post,
    .more-post,
    .wrapper-categories,
    .latest,
    .related,
    .wrapper-footer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: $m;
    }
    main {
        max-width: 900px;
    }
}