body {
    margin: 0;
    & * {
        margin: 0;
        padding: 0;
        color: $dark;
        &::-moz-selection {
            background: $accent-75;
            color: $light;
        }
        &::selection {
            background: $accent-75;
            color: $light;
        }
    }
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}

main {
    margin: calc(#{$xl} + #{$m}) auto 0;
    padding: 0 $s $l;
}

footer {
    padding: 0 $s;
}

@media screen and (min-width: $desktop) {
    .wrapper-highlight,
    .wrapper-latest,
    .wrapper-all-categories ul,
    .wrapper-main-post,
    .more-post,
    .wrapper-categories,
    .latest,
    .related,
    .about-index,
    .wrapper-footer {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr $m 1fr $m 1fr $m 1fr $m 1fr $m 1fr;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: $m;
    }

    main {
        max-width: 1000px;
    }
}
