@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700&display=swap");

html * {
    font-size: 100%;
    font-family: "Sarabun", sans-serif;
}

@mixin h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 160%;
}

@mixin h2 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 150%;
}

@mixin h2_reg {
    @include h2;
    font-weight: 400;
}

@mixin h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 150%;
}

@mixin h3_it {
    @include h3;
    font-style: italic;
}

@mixin h4 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 170%;
}

@mixin article {
    font-weight: 400;
    font-size: 1rem;
    line-height: 170%;
}

@mixin article_bd {
    @include article;
    font-weight: 600;
}

@mixin body {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 170%;
}

@mixin cap {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 170%;
}

@mixin cap_it {
    font-weight: 400;
    font-style: italic;
    font-size: 0.75rem;
    line-height: 170%;
}

@mixin h5 {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 150%;
    text-transform: uppercase;
}
