/*  ---  mediaqueries  ---  */
$mobile: 720px;
$tablet: 900px;
$desktop: 1200px;

/*  ---  neutrals  ---  */
$light: #fff;
$light-50: rgba(255, 255, 255, 0.5);

$middle: #B2B7C0;

$dark: #28282E;
$dark-10: rgba(15, 15, 89, 0.1);

/*  ---  colors  ---  */
$accent: #5A84F2;
$accent-75: rgba(90, 132, 242, 0.75);
$accent-10: rgba(90, 132, 242, 0.1);

$error: #FF9191;

/*  ---  gradients  ---  */
$gradient: linear-gradient(35deg, rgba(40, 40, 46, 0.7) 0%, rgba(90, 132, 242, 0.7) 100%);