/*  ---  mediaqueries  ---  */
$tablet: 600px;
$desktop: 900px;

/*  ---  neutrals  ---  */
$light: #fff;
$light-85: rgba(255, 255, 255, 0.9);
$light-50: rgba(255, 255, 255, 0.5);

$middle: #B2B7C0;

$dark: #28282E;
$dark-10: rgba(15, 15, 89, 0.1);

/*  ---  colors  ---  */
$accent: #5A84F2;
$accent-75: rgba(90, 132, 242, 0.75);
$accent-10: rgba(90, 132, 242, 0.1);

$error: #FF9191;

/*  ---  gradients  ---  */
$gradient: linear-gradient(35deg, #{$dark} 0%, #{$accent} 100%);

/*  ---  spacing  ---  */
// $xs: 8px;
// $s: 16px;
// $m: 32px;
// $l: 48px;
// $xl: 64px;
// $xxl: 80px;

$xs: 0.5rem;
$s: 1rem;
$m: 2rem;
$l: 3rem;
$xl: 4rem;
$xxl: 5rem;

/*  ---  z-index  ---  */
$posit-2: 2;
$posit-1: 1;
$negat-1: -1;
$negat-2: -2;